@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Neutral Colors */
  --neutral-950: #000000;
  --neutral-300: #dfdfdf;
  --neutral-200: #efefef;
  --neutral-100: #f5f5f5;
  --neutral-0: #ffffff;

  /* Gradients */
  --gradient-1: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.65) 100%);
  --gradient-2: linear-gradient(225deg, #63afdb 0%, #6028f1 100%);
  --gradient-3: linear-gradient(225deg, #05ffeb 0%, #27718a 100%);
  --gradient-4: linear-gradient(45deg, #d3205a 0%, #ff5a5a 100%);
  --gradient-5: linear-gradient(225deg, #f6c883 0%, #de3838 100%);
  --gradient-6: linear-gradient(53deg, #ffc593 0%, #bc7198 50%, #5a77ff 100%);
  --gradient-7: radial-gradient(
    circle at bottom left,
    #ffc593 0%,
    #bc7198 50%,
    #5a77ff 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm-sans);

  /* Neutral Colors */
  --color-neutral-950: var(--neutral-950);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-0: var(--neutral-0);

  /* Custom Spacing (only values not in Tailwind default) */
  --spacing-30: 30px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), sans-serif;
}

/* Text Presets */
.text-preset-1 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.text-preset-2 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  letter-spacing: 3.5px;
}

.text-preset-3 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 105%;
  letter-spacing: 0px;
}

.text-preset-4 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0px;
}

.text-preset-5-bold {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  letter-spacing: 2.5px;
}

.text-preset-5-regular {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 165%;
  letter-spacing: 0px;
}

.text-preset-6 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  letter-spacing: 0px;
}

.text-preset-7 {
  font-family: var(--font-dm-sans), sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 135%;
  letter-spacing: 2px;
}
